<!-- ------- Inicio contenedor de la tarjeta ------ -->
<div id="container" class="d-flex justify-content-end align-items-center">

    <!-- ------Inicio botón atrás ------ -->
    <div class="back-button">
        <i class="bi bi-arrow-left-circle" routerLink="/auth/password/verification"></i>
    </div>
    <!-- ------ Fin botón atrás ------ -->

    <!-- ------Inicio tarjeta ------ -->
    <div class="card align-items-center col-md-4 col-sm-6 col-xs-12">
        <h2 class="text-center mt-5">Ingresa tu nueva contraseña</h2>

        <!-- ------ Inicio formulario ------ -->
        <form [formGroup]="formConfPass" (ngSubmit)="sendNewPass()" autocomplete="off" class="col-10">

            <!-- ------ Inicio campo contraseña ------ -->
            <div class="input-group mt-4">
                <div class="col-md-12 col-12">
                    <i class="bi bi-lock-fill input-icon"></i>
                    <input type="password" [ngClass]="hasError('password')" placeholder="Nueva contraseña"
                        formControlName="password" />
                </div>
            </div>
            <small *ngIf="invalidField('password')">
                <i class="bi bi-exclamation-circle-fill error-icon"></i>
                <span class="text-danger">{{ this.formConfPass.controls['password'].errors?.['msg'] }}</span>
            </small>
            <!-- ------ Fin campo contraseña ------ -->

            <!-- ------ Inicio campo confirmar contraseña ------ -->
            <div class="input-group mt-3">
                <div class="col-md-12 col-12">
                    <i class="bi bi-lock-fill input-icon"></i>
                    <input type="password" [ngClass]="hasError('confirmPassword')" placeholder="Confirma tu nueva contraseña"
                        formControlName="confirmPassword" />
                </div>
            </div>
            <small *ngIf="invalidField('confirmPassword')">
                <i class="bi bi-exclamation-circle-fill error-icon"></i>
                <span class="text-danger">{{ this.formConfPass.controls['confirmPassword'].errors?.['msg'] }}</span>
            </small>
            <!-- ------ Fin campo confirmar contraseña ------ -->

            <!-- ------ Inicio Botón entrar ------ -->
            <div class="d-flex justify-content-end mt-5">
                <button type="submit" class="btn red mt-4">
                    Guardar
                </button>
            </div>
            <!-- ------ Fin Botón entrar ------ -->

            <!-- ------ Inicio alerte informativa ------ -->
            <small class="d-flex justify-content-center col-12 mt-5">
                <i class="bi bi-chat-quote-fill me-2"></i>
                <p class="d-flex align-items-center">Después de guardar serás redireccionado a la página de inicio
                    donde podrás iniciar sesión.</p>
            </small>
            <!-- ------ Fin alerte informativa ------ -->

            <!-- ------ Inicio de alerta condicional si hay error en el ingreso ------ -->
            <div *ngIf="errorResponse" class="alert alert-danger mt-2" role="alert">
                {{errorResponse}}
            </div>
            <!-- ------ Fin de alerta condicional si hay error en el ingreso ------ -->

        </form>
        <!-- ------ Fin formulario ------ -->

    </div>
    <!-- ------Fin tarjeta ------ -->
</div>
<!-- ------- Fin contenedor de la tarjeta ------ -->
