
/* ------ Estilos para texto de información ------ */
.info-text {
    display: flex;
}

.info-text i {
    color: #E01747;
    font-size: 35px;
    margin-right: 15px;
}

.info-text p {
    color: #63799B;
    font-size: small;
}

.uppercase{
    text-transform: uppercase;
  }